.blog_list_title {
  display: none;
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.articles__list_item {
  width: calc((100% - 20px * 2) / 3);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}

.articles__list_item:nth-child(n + 4) {
  margin-top: 34px;
}

.article_date {
  display: block;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
}

.article_title {
  margin: 7px 0 15px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
