body {
  margin: 0 auto;
}

.page_container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  margin-top: 162px;
}

/* Шрифты */
.font_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
}
.font_content {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
.font_decor {
  font-family: "Crimson Text", serif;
  font-style: italic;
}
.font_popup {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
/* Стилизация повторяющихся элементов*/
* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  background: black;
  padding: 9px 22px;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* Хлебные крошки*/
.breadcrump {
  margin-top: 15px;
  display: flex;
  margin-bottom: 50px;
}
.breadcrump_item {
  position: relative;
}
.breadcrump_item:nth-child(n + 2) {
  margin-left: 48px;
}

.breadcrump_item:nth-child(n + 2):before {
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 7px;
  left: -25px;
  background-image: url("../static/icons/btnRight.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrump_item:last-child {
  opacity: 0.5;
}

.breadcrump_blog {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

/* Стилизация кнопок перелистывания */

.page_nav {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.page_back,
.page_forward {
  width: 13px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.5;
  border: none;
  cursor: pointer;
}

.page_back {
  background-image: url("../static/icons/btnLeft.svg");
}
.page_forward {
  background-image: url("../static/icons/btnRight.svg");
}
.page_nav_list {
  display: flex;
  width: 234px;
  justify-content: space-between;
}

.page_number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

/* Стилизация главного заголовка страниц */
.main__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1e0606;
}

/* Стилизация header*/
.header {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 1180px;
  left: auto;
  right: ;
  background-color: #ffffff;
  z-index: 10;
}
.header_wrapper {
}
.nav {
}
.nav__list {
  margin-left: 60px;
  display: flex;
  min-width: 240px;
}
.nav__list_item {
  margin-right: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.nav__link {
  color: inherit;
}
.search_button {
  margin-left: auto;
}
.contact_us_link {
  margin-left: 20px;
  min-width: 105px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
}

/* Стилизация footer*/
.footer {
  padding: 100px 0 110px 0;
  background-color: #434343;
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
}
.footer__menu {
  border-bottom: 1px #666666 solid;
  padding-bottom: 28px;
  margin-bottom: 23px;
}
.footer__menu,
.footer__additional_info {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.footer__menu_section,
.footer__additional_info_container {
  width: calc((100% - 2 * 20px) / 3);
}
.footer__title {
  font-size: inherit;
  color: #aaaaaa;
  font-weight: inherit;
  padding-bottom: 23px;
  border-bottom: 1px #666666 solid;
  margin-bottom: 28px;
  margin-top: 0;
}

.footer__navigation_list {
}
.footer__navigation_list_item {
}
.footer__menu_link {
  color: #ffffff;
}
.footer__menu_link:hover {
  opacity: 0.5;
}
.footer__menu_link:visited {
  opacity: 0.2;
}

.footer__custumer_info {
}

.footer__custumer_info_list {
}
.footer__custumer_info_list_item {
}
.footer__connect {
}
.footer__subscribe {
  display: flex;
}
.subscribe_email {
  width: 100%;
  padding-left: 15px;
  background-color: #666666;
  color: white;
}
.subscribe_email::-webkit-input-placeholder {
  color: white;
}
.subscribe_email::-moz-input-placeholder {
  color: white;
}

.subscribe_email:hover {
  border: 2px solid #fffdfd;
  border-radius: 2px;
}
.subscribe_button {
}
.social_lincs {
}
.social_links_list {
  display: flex;
}
.social_links_item {
}
.social_link {
  display: block;
  margin: 25px 10px 0 0;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
.social_link:hover {
  opacity: 0.5;
}
.social_link:visited {
  opacity: 0.2;
}

.facebook {
  background-image: url(../static/icons/facebook.svg);
}
.twitter {
  background-image: url(../static/icons/twitter.svg);
}
.pinterest {
  background-image: url(../static/icons/pinterest.svg);
}
.instagram {
  background-image: url(../static/icons/instagram.svg);
}
.social_link_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.footer__additional_info {
}

.footer__additional_info_container {
  display: flex;
  align-items: center;
}

/* Звездный рейтинг */

.rating {
}
.rating_text {
  margin-right: 25px;
}
.rating_caption {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 3px;
}

.rating_radio {
  display: none;
}

.rating_star {
  cursor: pointer;
}
.rating_star::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("../static/icons/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.rating_star:hover::before {
  background-image: url("../static/icons/starHover.svg");
}

.rating_star:hover ~ .rating_star:before {
  background-image: url("../static/icons/starHover.svg");
}

.rating_radio:checked + .rating_star:before,
.rating_radio:checked ~ .rating_star:before {
  background-image: url("../static/icons/starChecked.svg");
}

.footer__additional_info_container:hover .rating_text {
  color: #c29974;
}
.developer_link {
  color: #a2a2a2;
}

.developer_link:hover {
  color: #ffffff;
  text-decoration: underline;
}
